<ion-view>

  <ion-nav-bar class="header-custom">

    <ion-nav-back-button class="button-clear back-button-custom">
      <i class="ion-chevron-left"></i> Back
    </ion-nav-back-button>

      <ion-nav-buttons class="buttons-header-custom" side="right">
      <span class="link-header-custom"
            ng-show="token"
            ng-click="logout()"
      >Logout</span>

      <a class="link-header-custom"
         href="#/login"
         ng-show="!token"
      >
        <span >Login</span>
      </a>
      <a class="link-header-custom"
         href="#/signup"
         ng-show="!token"
      >
        <span >Sign up</span>
      </a>
    </ion-nav-buttons>


  </ion-nav-bar>

  <ion-content class="padding blog-container-custom">

    <img ng-src="{{blog.thumbnail}}" class="blog-image" >
      <span ng-if="blog.thumbnail">
        <div class="shares-container">
          <button class="share-button facebook ion-social-facebook" ng-click="shareViaF()">
              share
          </button>
          <button class="share-button twitter ion-social-twitch" ng-click="shareViaTw()">
              twit
          </button>
          <button class="share-button mail ion-email" ng-click="shareViaEm()">
              email
          </button>
          <button class="share-button other" ng-click="shareViaAll()">
              share via...
          </button>
        </div>
      </span>
    <h3 ng-bind-html="title()"></h3>
    <p  ng-bind-html="content()"></p>
  </ion-content>
</ion-view>
