<ion-view>

  <ion-nav-bar class="header-custom">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon sandwich" ng-click="showMenu()">
      </button>
    </ion-nav-buttons>

    <ion-nav-back-button
            class="button-clear back-button-custom"
            ng-click="back()"
    >
      <i class="ion-chevron-left"></i> Back
    </ion-nav-back-button>

  </ion-nav-bar>

  <ion-content class="padding blog-container-custom">

    <img ng-src="{{blog.thumbnail}}" class="blog-image" >
      <span ng-if="blog.thumbnail">
        <div class="shares-container">
          <button class="share-button facebook ion-social-facebook" ng-click="shareViaF()">
              share
          </button>
          <button class="share-button twitter ion-social-twitter" ng-click="shareViaTw()">
              twit
          </button>
          <button class="share-button mail ion-email" ng-click="shareViaEm()">
              email
          </button>
          <button class="share-button other" ng-click="shareViaAll()">
              share...
          </button>
        </div>
      </span>
    <h3 ng-bind-html="title()"></h3>
    <p  ng-bind-html="content()" id="blogContent" class="blog-content"></p>
  </ion-content>
</ion-view>
