<ion-view >

  <ion-nav-bar>
    <ion-nav-back-button ng-click="back()" class="button-clear back-button-custom">
      <i class="ion-chevron-left"></i> Back
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-header-bar align-title="center" class="bar-dark">
    <h3 class="title">Change Password</h3>
  </ion-header-bar>

  <ion-content class="has-header">
    <ul class="list">

      <label class="item item-input input-change-pass-label">
        <span class="input-label" >New Password</span>
        <input class="input-change-pass" type="{{data.type}}" ng-model="data.password"/>
      </label>

      <ion-checkbox
        class="item-checkbox-right checkbox-change-pass"
        ng-model="data.showPass"
        checked="data.showPass"
        ng-click="changeType()"
      >
        Show Password
      </ion-checkbox>

      <button class="item button-full change-password-button" ng-click="changePassword()" >
        Change Password
      </button>
    </ul>
  </ion-content>

</ion-view>
