<ion-view view-title="Account">
  <ion-content class="login-wrapper">

    <div class="logo"></div>
    <div class="login-inputs-wrapper">

      <h3 class="login-header">Login</h3>

      <label class="item item-input input-login">
        <span class="input-label" >Username or email</span>
        <input type="text" ng-model="data.username">
      </label>

      <label class="item item-input input-login">
        <span class="input-label" >Password</span>
        <input type="password" ng-model="data.password">
      </label>

      <ion-checkbox ng-model="data.remember" checked="data.remember" class="input-login">Remember me</ion-checkbox>

      <button class="login-button-login" ng-click="submit()">
        Login
      </button>

      <div>
        <a href="#/signup"><span class="login-forgot-sign-up text-center">Sign Up</span></a>
        <a href="#/tab/home"><span class="login-forgot-sign-up text-center">Blogs</span></a>
      </div>

    </div>

  </ion-content>
</ion-view>
