<ion-view view-title="Account">
  <ion-content class="login-wrapper">
    <div class="logo"></div>
    <div class="login-inputs-wrapper">
      <h3 class="login-header">Login</h3>
      <label class="item item-input input-login">
        <span class="input-label">Username or email</span>
        <input type="text">
      </label>
      <label class="item item-input input-login">
        <span class="input-label">Password</span>
        <input type="password">
      </label>
      <ion-checkbox ng-model="isChecked" class="input-login">Remember me</ion-checkbox>
      <button class="button button-block login-button-login">
        Login
      </button>
      <div>
        <span class="login-forgot-sign-up">Forgot password?</span>
        <span class="login-forgot-sign-up text-right">Sign Up</span>
      </div>
    </div>

  </ion-content>
</ion-view>
assword
