<ion-view view-title="Account">
    <ion-content class="login-wrapper">

        <div class="logo"></div>
        <div class="login-inputs-wrapper" focus>

            <h3 class="login-header">Settings</h3>

            <ion-checkbox ng-model="data.blogNotif" checked="data.blogNotif" ng-click="click('blog')" class="input-login logins" focus>
                Receive new blog notification
            </ion-checkbox>
            <ion-checkbox ng-model="data.tipNotif" checked="data.tipNotif" ng-click="click('tip')"class="input-login logins" focus>
                Receive new tip notification
            </ion-checkbox>

            <div>
                <a href="#/tab/tipsters"><span class="login-forgot-sign-up text-center">Return to tips</span></a>
                <a href="#/tab/home"><span class="login-forgot-sign-up text-center">Return to Blogs</span></a>
            </div>

        </div>

    </ion-content>
</ion-view>
