</ion-view>

  <ion-nav-bar title="Settings">
    <h1 class="header">Settings</h1>
  </ion-nav-bar>

  <ion-header-bar align-title="center" class="bar-dark">
    <h2 class="title">Settings</h2>
  </ion-header-bar>

  <ion-content class="has-header">
    <ul class="list">
      <a class="item item-icon-right change-password-item" href="#/change-password">
        Change Password
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <ion-checkbox class="item item-checkbox-right" ng-model="data.blogNotif" checked="data.blogNotif" ng-click="click('blog')" focus>
        Receive Blog Notification
      </ion-checkbox>

      <ion-checkbox class="item item-checkbox-right" ng-model="data.tipNotif" checked="data.tipNotif" ng-click="click('tip')" focus>
          Receive Tip Notification
      </ion-checkbox>

      <span class="item settings-back-buttons">
        <a href="#/sidemenu/tab/tipsters" class="settings-back-tips">
          <span class="text-center">Return to tips</span>
        </a>
        <a href="#/sidemenu/tab/home" class="settings-back-blogs">
          <span class="text-center">Return to Blogs</span>
        </a>
      </span>
    </ul>
  </ion-content>
</ion-view>
