<ion-view>

  <ion-nav-bar class="header-custom">

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon sandwich" ng-click="showMenu()">
      </button>
    </ion-nav-buttons>

    <ion-nav-back-button class="button-clear back-button-custom">
      <i class="ion-chevron-left"></i> Back
    </ion-nav-back-button>



  </ion-nav-bar>

  <ion-content class="padding blog-container-custom">

    <div ng-bind-html="content()" class="one-tip-content"></div>
  </ion-content>
</ion-view>
