<ion-view>
  <ion-nav-bar class="header-custom">

    <ion-nav-buttons class="buttons-header-custom" side="right">

      <span class="link-header-custom"
            ng-show="token"
            ng-click="logout()"
      >Logout</span>

      <a class="link-header-custom"
         href="#/login"
         ng-show="!token"
      >
        <span >Login</span>
      </a>
      <a class="link-header-custom"
         href="#/signup"
         ng-show="!token"
      >
        <span >Sign up</span>
      </a>
    </ion-nav-buttons>

  </ion-nav-bar>



  <ion-content class="has-header my-tips">
    <ion-refresher on-refresh="getTips(1, tips)"
                   pulling-icon="ion-chevron-down"
                   spinner="lines"
    ></ion-refresher>
    <div>
      <ion-item class="item-image tip-item"
                ng-repeat="tip in tips"
                type="item-text-wrap"
                style="background-image: {{'linear-gradient(to top, rgba(89, 89, 89, 0) 40%,' +
                    'rgba(89, 89, 89, 0.45) 60%,' +
                    'rgba(0, 0, 0, 0.98) 100%), ' +
                    'url(' + tip.thumbnail + ')'}}"
      >
        <h2 class="tip-header">{{tip.title}}</h2>
        <div class='tip-content'> {{tip.description}}</div>
          <a href="#/tab/tipst/{{tip.id}}">
              <button class="button visit-tip-button visit-my-tips"
              >
                  Visit This Tipster
              </button>
          </a>

      </ion-item>

    </div>

  </ion-content>
</ion-view>
