<ion-view>
  <ion-nav-bar class="header-custom">

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon sandwich" ng-click="showMenu()">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="contact-wrapper">

    <h2 class="text-center rules-main-header"
        ng-show="loaded" ng-bind-html="title()"
        style="background: linear-gradient(to bottom, transparent 0%, rgb(19, 18, 7) 100%), url({{imgUrl}}) center center no-repeat"
    ></h2>
    <div class="padding gambling-responsibly-container" ng-bind-html="content()"></div>

  </ion-content>
</ion-view>
