<ion-view>

  <ion-nav-bar class="header-custom">

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon sandwich" ng-click="showMenu()">
      </button>
    </ion-nav-buttons>

    <ion-nav-back-button
            ng-click="backToMyTipsters()"
            class="button-clear back-button-custom"
    >
      <i class="ion-chevron-left"></i> Back
    </ion-nav-back-button>

    <ion-nav-buttons class="buttons-header-custom" side="right">
      <span class="link-header-custom"
            ng-show="token"
            ng-click="logout()"
      >Logout</span>

      <a class="link-header-custom"
         href="#/login"
         ng-show="!token"
      >
        <span >Login</span>
      </a>
      <a class="link-header-custom"
         href="#/signup"
         ng-show="!token"
      >
        <span >Sign up</span>
      </a>
    </ion-nav-buttons>


  </ion-nav-bar>

  <ion-content class="blog-container-custom my-tip">

    <ion-refresher on-refresh="getTip(1, tips)"
                   pulling-icon="ion-chevron-down"
                   spinner="lines"
    ></ion-refresher>
    <div>
      <ion-item class="tip-item item-icon-right"
                ng-repeat="tip in tips"
                type="item-text-wrap"
                href="#/sidemenu/tab/tip/{{tip.id}}"
      >
        <h2 class="tip-header" ng-bind-html="tip.title()"></h2>
        <i class="icon ion-chevron-right icon-accessory icon-tip"></i>
      </ion-item>

    </div>

    <ion-infinite-scroll spinner="lines"
                         on-infinite="loadMoreTip()"
                         distance="1%"
                         ng-if="page < lastPage && page != lastPage"
                         immediate-check="false"
    ></ion-infinite-scroll>
  </ion-content>
</ion-view>
