<ion-view>
  <ion-nav-bar class="header-custom">

    <ion-nav-buttons class="buttons-header-custom" side="right">

      <span class="link-header-custom"
            ng-show="token"
            ng-click="logout()"
      >Logout</span>

      <a class="link-header-custom"
         href="#/login"
         ng-show="!token"
      >
        <span>Login</span>
      </a>
      <a class="link-header-custom"
         href="#/signup"
         ng-show="!token"
      >
        <span>Sign up</span>
      </a>
    </ion-nav-buttons>

  </ion-nav-bar>
  <ion-content class="support-wrapper">

    <div class="support-inputs-wrapper" focus>
      <h3 class="login-header support-header">Support</h3>

      <form>
        <label class="item item-input input-support">
          <span class="input-label">Name</span>
          <input type="text" ng-model="data.name" class="logins">
        </label>
        <label class="item item-input input-support">
          <span class="input-label">Mail</span>
          <input type="text" ng-model="data.email" class="logins">
        </label>
        <label class="item item-input input-support" class="logins">
          <span class="input-label">Subject</span>
          <input type="text" ng-model="data.subject" class="logins">
        </label>
        <label class="item item-input input-support" class="logins">
          <span class="input-label">Message</span>
          <textarea class="logins textarea-logins" ng-model="data.message"> </textarea>
        </label>

      </form>

      <p class="padding support-info">If you have any questions about a service on Betting Gods or queries about your
        current subscriptions or payments then please complete the following form. We endeavour to respond within
        24hrs.</p>

      <button class="login-button-login logins" ng-click="sendToSupport()">
        Send Your Message
      </button>
        <button class="login-button-login logins" ng-click="register()">
            Register
        </button>
        <button class="login-button-login logins" ng-click="unregister()">
        Unregister
      </button>

    </div>

  </ion-content>
</ion-view>


