<ion-view>
  <ion-nav-bar class="header-custom">

    <ion-nav-buttons class="buttons-header-custom" side="right">
      <a class="link-header-custom" href="#/login">
        <span >Logout</span>
      </a>
    </ion-nav-buttons>

  </ion-nav-bar>
  <ion-content class="support-wrapper">

    <div class="support-inputs-wrapper">
      <h3 class="login-header">Support</h3>
      <p class="padding support-info">If you have any questions about a service on Betting Gods or queries about your current subscriptions or payments then please complete the following form. We endeavour to respond within 24hrs.</p>
      <label class="item item-input input-support">
        <span class="input-label">Name</span>
        <input type="text">
      </label>
      <label class="item item-input input-support">
        <span class="input-label">Mail</span>
        <input type="text">
      </label>
      <label class="item item-input input-support">
        <span class="input-label">Subject</span>
        <input type="text">
      </label>
      <label class="item item-input input-support">
        <span class="input-label">Your message</span>
        <input type="text">
      </label>
      <a href="#/tab/home">
        <button class="login-button-login">
          Send Your Message
        </button>
      </a>
    </div>

  </ion-content>
</ion-view>


