<ion-view>
  <ion-nav-bar class="header-custom">

    <ion-nav-buttons class="buttons-header-custom" side="right">

      <span class="link-header-custom"
            ng-show="token"
            ng-click="logout()"
      >Logout</span>

      <a class="link-header-custom"
         href="#/login"
         ng-show="!token"
      >
        <span >Login</span>
      </a>
      <a class="link-header-custom"
         href="#/signup"
         ng-show="!token"
      >
        <span >Sign up</span>
      </a>
    </ion-nav-buttons>

  </ion-nav-bar>



  <ion-content class="has-header my-tips">
    <ion-refresher on-refresh="getTips(1, tips)"
                   pulling-icon="ion-chevron-down"
                   spinner="lines"
    ></ion-refresher>
    <div>
      <ion-item class="item-image tip-item"
                ng-repeat="tip in tips"
                type="item-text-wrap"
                href="#/tab/tipst/{{tip.id}}"
      >

        <img ng-src="{{tip.thumbnail}}"
             class=""
        />
        <h2 class="tip-header">{{tip.title}}</h2>
        <div class='tip-content'> {{tip.description}}</div>

      </ion-item>

    </div>

  </ion-content>
</ion-view>
