<ion-view>
  <ion-nav-bar class="header-custom">

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon sandwich" ng-click="showMenu()">
      </button>
    </ion-nav-buttons>

  </ion-nav-bar>
  <ion-content class="support-wrapper">

    <div class="support-inputs-wrapper" focus>
      <h3 class="login-header support-header">Support</h3>

      <form>
        <label class="item item-input input-support">
          <span class="input-label">Name</span>
          <input type="text" ng-model="data.name" class="logins">
        </label>
        <label class="item item-input input-support">
          <span class="input-label">Mail</span>
          <input type="text" ng-model="data.email" class="logins">
        </label>
        <label class="item item-input input-support" class="logins">
          <span class="input-label">Subject</span>
          <input type="text" ng-model="data.subject" class="logins">
        </label>
        <label class="item item-input input-support" class="logins">
          <span class="input-label">Message</span>
          <textarea class="logins textarea-logins" ng-model="data.message"> </textarea>
        </label>

      </form>

      <p class="padding support-info">If you have any questions about a service on Betting Gods or queries about your
        current subscriptions or payments then please complete the following form. We endeavour to respond within
        24hrs.</p>

      <div class="padding support-info">
        Betting Gods Malta Ltd                </br>
        Level -5, The Quay, Portomaso Marina, </br>
        STJ 4015, Malta
      </div>
      <div class="padding support-info">Company No: C81743</div>


      <button class="login-button-login logins" ng-click="sendToSupport()">
        Send Your Message
      </button>

    </div>

  </ion-content>
</ion-view>


