<ion-view>
  <ion-nav-bar class="header-custom">

    <ion-nav-buttons class="buttons-header-custom" side="right">
      <a class="link-header-custom" href="#/login">
        <span >Logout</span>
      </a>
    </ion-nav-buttons>

  </ion-nav-bar>

  <ion-subheader-bar class="bar bar-subheader bar-custom-subheader">
    <h1 class="title"
        ng-click="showCategories()"
    >Category: {{currentCategory}}</h1>


    <div ng-class="{'not-shown': notShown, categories: true}">
      <div class="category-item">
        <h4 ng-click="chooseCategory('All', '')">All</h4>
      </div>
      <div ng-repeat="cat in categories" class="category-item" ng-click="chooseCategory(cat.title, cat.id)">
        <h4 >{{cat.title}}</h4>
      </div>
    </div>

  </ion-subheader-bar>



  <ion-content scroll-watch class="has-header has-subheader">

    <ion-list >
      <ion-refresher on-refresh="loadBlogs(1, blogs)"
                     pulling-icon="ion-chevron-down"
                     spinner="lines"
      ></ion-refresher>

      <ion-item class="item-image blog-item-custom"
                ng-repeat="blog in blogs"
                type="item-text-wrap"
                href="#/tab/home/{{blog.id}}"
      >
        <span class="blog-gradient"
              style="background-image: {{'linear-gradient(to bottom, rgba(89, 89, 89, 0) 52%, rgba(89, 89, 89, 0.45) 74%, rgba(0, 0, 0, 0.98) 100%), ' + 'url(' + blog.thumbnail + ')'}}"
        >
          <img ng-src="{{blog.thumbnail || '//:0' }}"
              class="image-hidden"
          />
        </span>
        <h2 ng-bind-html="blog.title()"></h2>

      </ion-item>
      <ion-infinite-scroll spinner="lines"
                           on-infinite="loadMoreBlogs(3)"
                           distance="1%"
                           ng-if="page < lastPage && page != lastPage"
                           immediate-check="false"
      ></ion-infinite-scroll>
    </ion-list>

  </ion-contentscroll-watch>
</ion-view>
