<ion-view>
  <ion-nav-bar class="header-custom">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon sandwich" ng-click="showMenu()">
      </button>
    </ion-nav-buttons>

  </ion-nav-bar>

  <div class="bar bar-subheader bar-custom-subheader" ng-click="showCategories()">
    <h1 class="title">Category: {{currentCategory}}</h1>
    <span class="ion-navicon custom-sandwich"></span>


    <div ng-class="{'not-shown': notShown, categories: true}">
      <div class="category-item" ng-click="chooseCategory('All', '')">
        <h4>All</h4>
      </div>
      <div ng-repeat="cat in categories" class="category-item" ng-click="chooseCategory(cat.title, cat.id)">
        <h4 >{{cat.title}}</h4>
      </div>
    </div>

  </div>



  <ion-content delegate-handle="small" on-scroll="onScrollHide()" class="has-header has-subheader blogs">

    <ion-refresher on-refresh="loadBlogs(1, blogs)"
                   pulling-icon="ion-chevron-down"
                   spinner="lines"
    ></ion-refresher>

    <div>
      <ion-item class="item-image blog-item-custom"
                ng-repeat="blog in blogs"
                type="item-text-wrap"
                href="#/sidemenu/tab/home/{{blog.id}}"
      >
        <span class="blog-gradient"
              style="background-image: {{'linear-gradient(to bottom, rgba(89, 89, 89, 0) 50%, rgba(89, 89, 89, 0.45) 70%, rgba(0, 0, 0, 0.98) 100%), ' + 'url(' + blog.thumbnail + ')'}}"
        >
          <img ng-src="{{blog.thumbnail}}"
              class="image-hidden"
          />
        </span>
        <h2 ng-bind-html="blog.title()"></h2>

      </ion-item>

    </div>
    <ion-infinite-scroll spinner="lines"
                         on-infinite="loadMoreBlogs()"
                         distance="1%"
                         ng-if="page < lastPage && page != lastPage && !offlineMode"
                         immediate-check="false"
    ></ion-infinite-scroll>
  </ion-content>
</ion-view>
