.categories-button, .categories-button:active{
  z-index: 30;
  color: #FF9500;
  border-radius: 3px !important;
  font-weight: bold;
  font-size: 15px !important;
  background: transparent;
  outline:none;
}

.popover-arrow:after{
  background: rgb(95, 95, 95) !important;
}

.popover-custom{
  background: rgb(95, 95, 95);
  width: 80vw;
  height: 70vh;

  .category-item{
    padding: 10px 15px !important;
    border-bottom: 1px solid #999;

    h4{
      color: $orange !important;
      font-weight:bold !important;
    }

  }
  .category-item:hover{
    background: rgb(120, 120, 120);
  }
}

.blog-item-custom{
  height:auto;
  min-height:170px !important;

  a{
    z-index: 20;
    min-height:100%;
    padding: 0 !important;

    .blog-gradient{
      display: block;
      z-index: 15;
      width: 100%;
      height: auto;
      min-height:170px;
      background-size:cover;
      position: relative;

      .image-hidden{
        display: block;
        min-height:90px !important;
        min-width:90px !important;
        max-width:100%;
        visibility: hidden;
      }
    }

    h2{
      overflow: hidden;
      text-overflow: initial;
      white-space: normal;
      font-size: 23px;
      font-weight: bold;
      position: absolute;
      bottom:20px;
      left:0;
      width:100%;
      margin:0;
      color: #ffffff;
      padding:0 15px;
      z-index: 20;
    }

  }

}
