.blog-item-custom{
  height:auto;
  position: relative;


  a{
    z-index: 20;
    min-height:100%;
    padding: 10px !important;



    img{
      display: block;
      min-height:90px !important;
      min-width:90px !important;
      top:12px !important;
      right:15px !important;
      max-width:100%;
    }

    .blog-gradient{
      display: block;
      position: absolute;
      z-index: 15;
      width: 95%;
      height: 90%;
      bottom: 10px;
      background: -moz-linear-gradient(top, rgba(89, 89, 89, 0) 52%, rgba(89, 89, 89, 0.45) 74%, rgba(0, 0, 0, 0.98) 100%);
      background: -webkit-linear-gradient(top, rgba(89, 89, 89, 0) 52%, rgba(89, 89, 89, 0.45) 74%, rgba(0, 0, 0, 0.98) 100%);
      background: linear-gradient(to bottom, rgba(89, 89, 89, 0) 52%, rgba(89, 89, 89, 0.45) 74%, rgba(0, 0, 0, 0.98) 100%);
    }

    h2{
      overflow: hidden;
      text-overflow: initial;
      white-space: normal;
      font-size: 23px;
      font-weight: bold;
      position: absolute;
      bottom:20px;
      left:0;
      width:100%;
      margin:0;
      color: #ffffff;
      padding:0 15px;
      z-index: 20;
    }

  }

}

.blog-image{
  min-width:100%;
}

.blog-title{
  //text-align: center;
}

.blog-container-custom{
  font-size: 1.3em;
  line-height: 1.7em;
}
