.gambling-responsibly-container{
  font-size:20px;
  line-height: 30px;
  background: #ffffff;
  color: $gray;

  h4{
    font-weight:bold;
    color:$gray;
    margin:20px 0;
  }

  img{
    width:100%;
  }
}

p:first-letter{
  padding-left: 15px;
}

.rules-main-header{
  height: 348px;
  padding: 127px 0;
  background-size: cover !important;
  color: #ffffff;
  font-weight: bold;
  font-size: 47px;
}
