.input-change-pass-label{
  margin: 40px 0 -1px;
}

.input-change-pass{
  border: none;
}

.checkbox-change-pass{
  margin: 0 0 20px;
}

.change-password-button{
  background: #fa6800;
  color: #ffffff;
  font-size: 1.1em;
  font-weight: bold;
}