
.bar-subheader {
  z-index: 1 !important;
  transition: top 0.25s ease;
  background: #464646;

  h1{
    color: $orange;
  }
}

.has-subheader {
  top: 44px !important;
  .scroll {
    padding-top: 44px !important;
  }
}

body.bar-subheader-slide-away {
  .bar-subheader {
    top: 0 !important;
  }
  .has-subheader {
    top: 44px !important;
  }
}

.bar-custom-subheader{
  position: relative;

  .categories.not-shown{
    height:0;
    transition: height .3s ease-in-out;
    box-shadow: none;
  }

  .custom-sandwich {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 7px;
    color: #ff9500;
    font-size: 31px;
  }

  .categories {
    position: absolute;
    top: 44px;
    width: 100%;
    background: rgba(0, 0, 0, 0.83);
    left: 0;
    height: calc(100vh - 137px);
    overflow: auto;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    transition: height .3s ease-in-out;
    border-top: 1px solid #616161;;


    .category-item {
      border-bottom: 1px solid #3e3e3e;;
      padding: 2px 10px;

      h4 {
        color: $orange;
        text-align: center;
      }
    }

    .category-item:hover{
      background: #3e3e3e;
    }
  }
}
